h1{
            font-family: "Sofia";
            font-size: 25px;
            border: solid; 
            text-align: center;
}

h3{
    font-family: "Sofia";
            font-size: 25px;      
}

p{
            font-family: "Actor";
            text-align: center;
}


