/* for the textarea */
.textA {
float:left;
width: 75%;
margin-top: 6px;
font-family:"Sansita Swashed", cursive;
}
.font{ /* to be able to use the google font in whatever segmenet i want */
   font-family: "Sansita Swashed", cursive;
}

/* for what's above textarea */
.purp{
float: none;
width: 25%;
margin-top: 6px;
    font-family: "Sansita Swashed", cursive;
}
 
.sub{ /* to move the submit button to the left */
   margin-right: 121px;
    float: left;
}